<% include ../partial/header %>
<%= currentUser %>
<div class="container">
	<header class="jumbotron" class="text-center">
		<div class="container">
			<h1>
				Welcome To BangaloreFoodie
			</h1>
			<p>
				View our HandPicked Restaurants from all over Bangalore	
			</p>
			<p>	
				<a class="btn btn-primary btn-large" href="/campground/new">
				Add New Restaurant
				</a>
			</p>
		</div>
	</header>
	<div class="row" style="display:flex;flex-wrap:wrap;">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campground.image %>">
				<div class="caption">
					<h4>
						<%= campground.name %>
					</h4>
				</div>
				<p>
					<a href="/campground/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<% }); %>
	</div>
</div>
<% include ../partial/footer %>
					